*{
    margin:0;
}

/* navigation section */

#logo{
    display:flex;
    text-transform: uppercase;
    align-items: center;
    margin-left: 1.5rem;
    height: 2rem;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

 ul{
    display: flex;
    list-style: none;
    margin-right: 1.5rem;
    
}

ul li{
    padding: 1rem;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/*banner section*/

.container{
    display: flex; 
    flex-wrap: wrap;
    padding-bottom: 2rem; 
    
}

.gray{
    background-color: rgb(196, 195, 195);
}

.img-container{
    width: 60%;
    flex-shrink: 0;
    padding: 2rem 1.5rem ;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display:block
}

.right-description{
    display:flex;
    max-width: 40%;
    flex-flow: row wrap;
    align-content: space-around;
    padding: 5%;
    box-sizing: border-box;
    text-align: left;
}

h1,
h2,
header ul,
span,
h3{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 3rem;
}

h2{
    font-weight: 400;
}

button{
    font-size:1.5rem ;
    border-radius: 0.25rem;
    padding: 0.5rem 3rem;
    margin: 0 auto;
    transition: 0.3s ease 0s;
    color:white;
    background-color: rgb(90, 89, 89);
    
}

button:hover{
    background-color: teal;
}

/*first white section*/
.column{
    display:flex;
    flex-direction: column;
    width:40%;
    box-sizing:border-box;
    padding-top: 1rem;
    
}

.card{
    display:flex;
    padding:1rem;
}

.card-information{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    width:65%;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.small-img{
    max-width:35%;
    height:auto;
    flex-shrink: 0;
    
}

.column a{
    color: teal;
}

.left-description{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    
}
/*Courses section*/

.learning{
    display:block;
    padding-top: 2rem;
    width:100%;
    text-align: center;
}

.courses{
    display: grid;
    grid-template: 25rem 25rem / repeat(3, 1fr);
    grid-gap: 2rem 2rem;
    padding: 2rem 4.5rem;
    box-sizing: border-box;
   
    
}

.course{
    display:flex;
    flex-direction: column;
    background-color: white;
}

.course-description{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding: 1rem 1rem 1.5rem 1rem;
    
    
}

/* thesis exhibit*/

#title{
    text-align: center;
}
  
    
 video{
        max-width: 100%;
        height: auto;
        display:block
 }

/*footer*/

footer{
    display:flex;
    justify-content: space-between;
    color: gray;
    padding:1rem 0 1rem 1.5rem;
    align-items: center;
}

footer li{
    color: gray;
}

/*attempted to make the mobile site*/ 

@media only screen and (max-width: 480px){
    
}